OWNER_NAME="Shakir Tech"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "SHAKIR-MD"
IMAGE_MENU= "https://telegra.ph/file/e001c688ec9c283c01ee5.jpg"
NUMERO_OWNER= "923461372588"
OWNER_NAME= "᚛Shakir Tech᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='non'
